/*Color del boton enviar*/
#btnEnviar{
    background-color: #009655;
}
/*Da tamaño a la foto de perfil y le pone bordes*/
#fotoPerfil{

    width: 140px;
    height: 160px;
    border: 6.4px solid #009655;

}
/*Oculta el input de subida de imagen*/
#imagen{

    display: none;
}
/*Le da un fondo verde al label que se encarga de hacer la funcion del input de subida de imagen*/
#btnSubirArchivo{

    background-color: #009655;

}
/*Al poner el cursor sobre el label de subir imagen, el cursor actuara como si fuese un boton*/
#btnSubirArchivo:hover{

    cursor: pointer;

}
/*Color del fondo de los motivos por los cuales el usuario deberia hacerse socio*/
.motivosSocio{

    background-color: #009655;
    font-family: "Poppins", sans-serif;

}
/*Oculta el formulario hasta que el usuario pulse el boton*/
#formulario{
    display: none;
}
/*Da color al boton que despliega el formulario*/
#btnDespliegue{
    background-color: #009655;
}