.card {
    transition: transform .15s ease;
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    margin-top:20px;
    background-color:  #009655;
    color: white;
}

.card img{
    width: 37%;
}

.card:hover {
    transform: scale(1.02);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}

#masInfoNoticias{
    margin-left: 40%;
}

@media screen and (max-width: 1199px) {
    .card img{
        width: 100%;
    }

    .card-block{
        width: 900px;
    }
}

@media screen and (max-width: 992px) {
    .card-block{
        width: 700px;
    }

    .card img{
        width: 93%;
    }
}

@media screen and (max-width: 768px) {
    .card-block{
        width: 500px;
    }
}

@media screen and (max-width: 768px) {
    .card img{
        display: none;
    }
    .card-block{
        width: 100%;
    }
}

.row .imagenComentario{
 width: 50px;
 height: 50px;
 margin-left: 20%;
}

div.wrap {
    width: 90%;
    margin: 0 auto 1em auto;
    position: relative;
    transition: transform .15s ease;
}

div.wrap:hover{
    transform: scale(1.02);
}

div.wrap:first-child {
    margin-top: 1em;
}

div.comment {
    font-size: 1em;
    position: relative;
    margin-left: 85px;
    margin-top: 40px;
    border-radius: 0.75em 0.75em 0.75em 0.75em;
    background-color: #009655;
    line-height: 1.4em;
    color: white;
}

div.comment::before {
    content: attr(data-owner);
    border-radius: 0.75em 0.75em 0 0;
    background-color: #009655;
    display: block;
    text-indent: 10%;
    border-bottom: 3px solid rgb(255, 255, 255);
    color: white;
}

div.comment::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border: 10px solid transparent;
    border-right: 10px solid #009655;
    margin: -10px 0 0 -20px;
}

div.comment p {
    width: 80%;
    margin: 0 auto 1em auto;
}

.wrap img {
    position: absolute;
    top: 50%;
    width: 75px;
    float: left;
    border-radius: 10px;
    margin-top: -25px;
    background-image: url(../img/fondoCards.jpg);
    background-size: cover;
}

.modal-content #userIcon {
	top: 146px !important;
}

.modal-content #userPadlock {
	top: 198px !important;
}

.form-control {
	padding-left: 35px !important;
}