*::selection {
    background:#009655;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
}

/*Fondo del navbar*/

.imagenFondo {
    background-image: url("../img/fotoPrincipal.jpg");
    background-size: cover;
    background-position: center;
    min-height: 750px;
    height: 500%;
}

/*Logo principal*/

.navbar .img-fluid {
    height: 120px;
    width: 130px;
}

nav figure {
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

nav:not(:first-child) figure:hover {
    border-bottom: 3px solid #009655;
}

/*Links*/

nav ul li a {
    font-size: 18px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

nav ul li .efecto:hover {
    font-size: 18px;
    border-bottom: 3px solid #009655;
}

nav ul li .dropdown-item:hover {
    color: white;
    background-color: #009655;
}

nav #nightMode{
    background-color: #009655;
    color: white;
    transition: 0.5s;
}

nav #nightMode:hover{
    background-color: white;
    color: #009655;
    transition: 0.5s;
}

/*Boton login*/

nav .botonLogin {
    background-color: #009655;
    color: white;
    transition: 0.5s;
}

nav .botonLogin:hover {
    background-color: white;
    color: #009655;
    transition: 0.5s;
}

/*Boton logout*/
nav .botonLogout{
    background-color: #009655;
    color: white;
    transition: 0.5s;
    display: none;
}
nav .botonLogout:hover{
    background-color: white;
    color: #009655;
    transition: 0.5s;
}

/*Oculta la parte del mi espacio si no hay ningun usuario logado*/
.sesionUsuario{
    display: none;
}

/*Boton login del modal*/
.botonLoginStart{
    background-color: #009655 !important;
    color: white !important;
    transition: 0.5s !important;
}
.botonLoginStart:hover{
    background-color: white !important;
    color: #009655 !important;
    transition: 0.5s !important;
    border-color: #009655;
}

.imagenFondo h1 {
    color: white;
    font-size: 5em;
}

.imagenFondo h2 {
    color: white;
    font-size: 2.5rem;
}
/*Da estilo al la imagen del usuario*/
#imgSesion{
    width: 50px;
    height: 50px;
    border: 2px solid #009655;
    border-radius: 15px;
}

/*Color principal del footer*/
footer{
    background-color: #009655;
}

#logoFooter{
    width: 200px;
    height: 200px;
}

/*Color de los botones*/
.btn{
    background-color: #009655;
}

/*Navbar de las otras paginas*/
.imagenFondo2{
    background-image: url(../img/navbar.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
    height: 500%;
  }

.imagenFondo2 nav ul li a {
    font-size: 18px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
    font-weight: 600;
}

.imagenFondo2 nav ul li .efecto:hover {
    font-size: 18px;
    border-bottom: 3px solid #ffffff;
}

/*Titulos de los div*/
.titulo{
    font-weight: normal;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    color: white;
}

.flecha{
    background-color: #009655;
    position: relative;
    margin-top: 5px;
    margin-bottom: 25px;
}
.flecha::after{
    content: '';
    position: absolute;
    bottom: -45%;
    left: 50%;
    border: 10px solid transparent;
    margin: -10px 0 0 -20px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #009655;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: 555;
    color: #009655;;
    cursor: pointer;
    padding: 10px;
    border-radius: 35px;
    height: 50px;
    width: 55px;
  }
  
  #myBtn:hover {
    background-color: white;
  }

  /*Submenu de equipos*/
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
  
  /*Transicion para hacer hover*/
  nav ul li ul li {
  transition: 0.5s;
  }
  
  /*a de primer submenu*/
  nav ul li ul li a {
    text-decoration: none !important;
    color: #212529;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
  }

/*hover del a del primer submenu*/
  nav ul li ul li a:hover {
    color: white;
    background-color: #009655;
}

/*a de segundo submenu*/
nav ul li ul li ul li a {
    text-decoration: none !important;
    color: #212529;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
}

/*hover del a del segundo submenu*/
 nav ul li ul li ul li a:hover {
    color: white;
    background-color: #009655;
}

.login-form {
    width: 500px;
    height: 400px;
    margin: 50px auto;
    font-size: 15px;
}
.login-form .form {
    margin-bottom: 15px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 2px;
}
.login-form h2 {
    margin: 0 0 15px;
    color: rgb(102, 102, 102);
}
.form-control, .form .btn {
    min-height: 38px;
    border-radius: 2px;
}

.modal-content{
    background-color: transparent !important;
    border: 0px !important; 
}

.login-form .close {
	position: absolute;
	top: 60px;
    right: 15px;
    outline: none;
}

.modal-content #userIcon {
	position: absolute;
	left: 40px;
	top: 154px;
	font-size: 18px;
}

.modal-content #userPadlock {
	position: absolute;
	left: 40px;
	top: 208px;
	font-size: 18px;
}

#loginForm .form-control {
	padding-left: 35px;
}
/*Fondo modal del footer*/
.modal-contentFooter{
    background-color: white;
}

/*Posicion icono del ojo de la contraseña*/
#cambiarIcono i{
    position: absolute;
    top: 40%;
    left: 88%;
}