body {
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
}

/*Fondo del navbar*/

.imagenFondo {
    background-image: url("../img/fotoPrincipal.jpg");
    background-size: cover;
    background-position: center;
    min-height: 750px;
    height: 500%;
}

/*Logo principal*/

.navbar .img-fluid {
    height: 120px;
    width: 130px;
}

nav figure {
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

nav figure:hover {
    border-bottom: 3px solid rgb(120, 173, 41);
}

/*Links*/

nav ul li a {
    font-size: 18px;
    border-bottom: 3px solid transparent;
    transition: 0.5s;
}

nav ul li .efecto:hover {
    font-size: 18px;
    border-bottom: 3px solid rgb(120, 173, 41);
}

nav ul li .dropdown-item:hover {
    color: white;
    background-color: rgb(120, 173, 41);
}

/*Boton login*/

nav .botonLogin {
    background-color: rgb(120, 173, 41);
    color: white;
    transition: 0.5s;
}

nav .botonLogin:hover {
    background-color: white;
    color: rgb(120, 173, 41);
    transition: 0.5s;
}

nav .botonCerrar {
    background-color: red;
    color: white;
}

nav .botonCerrar:hover {
    background-color: white;
    color: red;
    transition: 0.5s;
}

.imagenFondo h1 {
    color: white;
    font-size: 5em;
}

.imagenFondo h2 {
    color: white;
    font-size: 2.5rem;
}

/*nav ul .fa{
    color: white;
    transition: 1s;
    border-bottom: 3px solid transparent;
}
nav ul .fa:hover{
    transition: 1s;
    color: rgb(120, 173, 41);
    
}*/

/*Color principal del footer*/
footer{
    background-color: #009655;
}

/*Tamaño de los iconos de las redes socaiales*/
.redesIconos{
    width: 30px;
}