.imagenUsuario{
    width: 250px;
    height: 250px;

}

#btnMisDatos,#btnUpdateUsuario,#btnDeleteUsuario, #btnUpdateJugador, #btnExecuteUpdate, #btnExecuteUpdateUser, #btnDatosAdmin, #btnDatosUsuario{
    background-color: #009655;
}

.datosDeUsuario{
    /*background-color: #009655;*/
    background-image: url('https://thumb.besoccerapps.com/rbetis/img_web/bg/h2c-bg.jpg');
    background-size: cover;
    font-size: 22px;
    min-width: 80%;
}



