.imagenUsuario{
    width: 280px;
    height: 280px;

}

#btnMisDatos,#btnUpdateUsuario,#btnDeleteUsuario, #btnUpdateUsuarioDesdeAdmin, #btnExecuteUpdate, #btnExecuteUpdateUser, #btnDatosAdmin, #btnDatosUsuario{
    background-color: #009655;
}

.datosDeUsuario{
    /*background-color: #009655;*/
    background-image: url(../img/fondoLineas.jpg);
    background-size: cover;
    font-size: 24px;
    min-width: 80%;
}

select option:hover,
    select option:focus,
    select option:active {
        background: linear-gradient(#000000, #000000);
        background-color: #000000 !important; /* for IE */
        color: #f1e100 !important;
    }

    select option:checked {
        background: linear-gradient(#d6d6d6, #d6d6d6);
        background-color: #09ff00 !important; /* for IE */
        color: #000000 !important;
    }



