<!doctype html>
<html lang="en">

<head>
    <title>Equipos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Logo del club-->
    <link rel="icon" href="../img/logo.png" type="image/png">

    <link rel="stylesheet" href="../css/equipos.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/aos.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/hazteSocio.css">

    <!-- Bootstrap CSS -->

</head>

<body class="bg-light">



    <div class="imagenFondo2">

        <nav class="navbar navbar-dark navbar-expand-md justify-content-between w-100">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0 mt-3">

                 <ul class="navbar-nav text-center align-items-center mt-5">

                    <li class="nav-item active">
                        <a class="nav-link pl-0 efecto" href="../../index.html">Home <span
                                class="sr-only">Home</span></a>
                    </li>

                    <li class="nav-item dropdown active">
                        
                            <a class="nav-link active efecto" data-toggle="dropdown">Equipos <i class="fas fa-caret-down"></i></a>
                
                            <ul class="dropdown-menu text-center">

                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Senior <i class="fas fa-caret-right"></i></a>
                                    <ul class="dropdown-menu text-center">
                                        <li><a tabindex="-1" href="#" onclick="equiposDesdeEquipos('5')">Masculino</a></li>
                                        <li><a tabindex="-1" href="#" onclick="equiposDesdeEquipos('6')">Femenino</a></li>
                                    </ul>
                                </li>
                            
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Juvenil <i class="fas fa-caret-right"></i></a>
                                    <ul class="dropdown-menu text-center">
                                        <li><a tabindex="-1" href="#" onclick="equiposDesdeEquipos('3')">Masculino</a></li>
                                        <li><a tabindex="-1" href="#" onclick="equiposDesdeEquipos('4')">Femenino</a></li>
                                    </ul>
                                </li>
                            
                                <li class="dropdown-submenu">
                                    <a class="test" tabindex="-1" href="#">Infantil <i class="fas fa-caret-right"></i></a>
                                    <ul class="dropdown-menu text-center">
                                        <li><a tabindex="-1" href="#" onclick="equiposDesdeEquipos('1')">Masculino</a></li>
                                        <li><a tabindex="-1" href="#" onclick="equiposDesdeEquipos('2')">Femenino</a></li>
                                    </ul>
                                </li>

                            </ul>

                        
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link active efecto" href="noticias.html">Noticias</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link efecto" href="hazteSocio.html">Socios</a>
                    </li>

                </ul>

                

            </div>

            <div class="navbar-collapse collapse dual-nav w-50 order-2 mt-3">
                <ul class="nav navbar-nav ml-auto text-center align-items-center mt-5">

                    <div class="login">

                        <button type="button" class="btn botonLogin" data-toggle="modal" data-target="#modelId">Iniciar
                            Sesión</button>
                        <button type="button" class="btn botonLogout">Cerrar Sesión</button>
                        <!--Modal-->
                        <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Iniciar Sesión</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="usuario"></label>
                                            <span>Usuario:</span>
                                            <input type="text" name="usuario" id="usuario" class="form-control"
                                                placeholder="Usuario" aria-describedby="helpId">

                                            <span>Contraseña:</span>
                                            <input type="password" name="password" id="password" class="form-control"
                                                placeholder="Contraseña" aria-describedby="helpId">

                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn botonCerrar"
                                            data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn botonLoginStart">Iniciar Sesión</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- Zona login -->
                    <div class="sesionUsuario">

                        <div class="nav-item active ml-2" id="sitioUsuario">
                            <!--Carga la imagen del usuario que ha iniciado sesion desde el JS-->
                        </div>

                    </div>
                    <button type="button" class="btn m-2" id="nightMode"><i></i></button>
                </ul>
            </div>
        </nav>


    </div>


    <div class="row mt-4 flecha">

        <div class="col-lg-12 text-center" id="tituloPagina">
            <h2 class="titulo">Nuestros equipos</h2>
        </div>

    </div>

    <div class="row justify-content-center align-items-center selectEquipo">

        <div class="col-lg-2 col-md-4 col-sm-5 m-3">
            <input type="text" id="filtro" class="form-control" onkeyup="buscarUsuarios()" placeholder="Buscar usuarios">
        </div>

        <div class="col-lg-2 col-md-4 col-sm-5 m-3" id="insertEquipos">
            <select class="custom-select" name="equipos" id="selectEquipos">
                <option selected>Selecciona un equipo</option>
            </select>
        </div>

    </div>

    <div class="row justify-content-center mt-4">

        <div class="col-lg-12 text-center" id="insertCategoriaEquipo">

        </div>

    </div>

    <section id="equiposSection">

        <!-- Posiciones jugador-->
        <div id="delanterosTitulo"></div>

        <div class="row justify-content-center text-center mt-3" id="delanteros">
            <!-- Insertar cards de los jugadores-->
        </div>



        <!-- Posiciones jugador-->
        <div id="zaguerosTitulo"></div>

        <div class="row justify-content-center text-center mt-3" id="zagueros">
            <!-- Insertar cards de los jugadores-->
        </div>



        <!-- Posiciones jugador-->
        <div id="liberosTitulo"></div>

        <div class="row justify-content-center text-center mt-3" id="liberos">
            <!-- Insertar cards de los jugadores-->
        </div>



        <!-- Posiciones jugador-->
        <div id="cuerpoTecnicoTitulo"></div>

        <div class="row justify-content-center text-center mt-3" id="cuerpoTecnico">
            <!-- Insertar cards de los jugadores-->
        </div>

        <div id="fichaUsuario">
            <!-- Insertar informacion del usuario-->
        </div>

    </section>




    <!--Footer comienzo-->
    <footer class="page-footer font-small blue-grey lighten-5 text-white">
        <div class="container">
            <!--Redes sociales-->
            <div class="row py-4 d-flex align-items-center justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8 col-8 text-center border-bottom border-white p-3">
                    <!--Facebook--> <a href="https://facebook.com"><i
                            class="fab fa-facebook-f text-white fa-2x m-2"></i></a>
                    <!--Instagram--><a href="https://instagram.com"><i
                            class="fab fa-instagram text-white fa-2x m-2"></i></a>
                    <!--Twitter--> <a href="https://twitter.com"><i class="fab fa-twitter text-white fa-2x m-2"></i></a>
                    <!--Google+--> <a href="https://google.com"><i
                            class="fab fa-google-plus text-white fa-2x m-2"></i></a>
                    <!--Youtube--> <a href="https://youtube.com"><i class="fab fa-youtube text-white fa-2x m-2"></i></a>
                </div>
            </div>
            <!--Parte central del footer-->
            <div class="container text-center text-md-left">
                <div class="row">
                    <!--Links-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center text-white">
                        <p>
                        <h6 class="text-uppercase font-weight-bold">Links de interes</h6>
                        </p>
                        <p><a href="hazteSocio.html" class="text-white">Hazte socio</a></p>
                        <p><a href="noticias.html" class="text-white">Ultimas noticias</a></p>
                        <p><a class="text-white" href="#" data-toggle="modal" data-target="#modelId">Inicia sesion</a>
                        </p>
                        <p><a class="text-white" data-toggle="modal" data-target="#exampleModal" href="#">Legal</a></p>
                    </div>
                    <!--Logo del club-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center d-block m-auto">
                        <img id="logoFooter" src="../img/logo.png" alt="">
                    </div>
                    <!--Contacto-->
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center">
                        <p>
                        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
                        </p>
                        <p>Avda. de Heliopolis, s/n 41012 Sevilla</p>
                        <p>info@realbetisvoleibol.es</p>
                        <p>comercial@realbetisvoleibol.es</p>
                        <p>+ 34 955 463 955</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Copyright-->
        <div class="footer-copyright text-center text-white py-3" style="background-color: #1a7041;">© 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/"> realbetisvoleibol.com</a>
        </div>
    </footer>
    <!--Footer final-->


    <!--Modal-->
    <div class="modal fade modalCopyright justify-align-center text-center" id="exampleModal" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Derechos de autor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>© REAL BETIS VOLEIBOL. Esta pagina es la unica oficial del Real Betis Voleibol. Todos los
                        derechos reservados.</p>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-danger botonCerrar" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn"><i class="fas fa-arrow-up fa-2x"></i></button>

    <!-- Optional JavaScript -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <!-- Optional JavaScript -->
    <script src="../js/jsEquipos.js"></script>
    <script src="../js/jsPrincipal.js"></script>
    <script src="../js/aos.js"></script>
    <script src="../js/fontAwesome.js"></script>
</body>

</html>